.navbar-icon {
    width: 48px;
    display: inline-block;
}

h1 {
    font-family: "Sofia", sans-serif;
    font-size: 64px;
    display: inline-block;
}

header {

}

#messages {
    display: -webkit-box;
    margin-left: auto;
}

