@use "create_mobile";

a.create {
  .navbar-icon {
    display: none;
  }

  .navbar-icon.selected {
    display: block;
  }
}

svg.close {
  width: 24px;  //18px
  height: 24px; //18px
}

h1 {
  font-size: 24px;
}