article {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  > header {
    margin: 61px 0;
    > img {
      height: 30px;
      border-radius: 100%;
    }

    > div {
      display: inline-block;
      //font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

      > h2 {
        font-size: 15px;
        font-weight: normal;
        margin: 0 1px 0 0;
      }

      > p {
        font-size: 12px;
        margin: 1px 0 0 0;
        color: gray;
      }
    }


  }

  > main > p {
    font-size: 14px;
  }

  > section {
    &:first-of-type {
      color: blue;
      display: inline-block;
    }

    &:nth-of-type(2) {
      color: gray;
      float: right;
    }
  }
}
