// navbar update
a.home {
  .navbar-icon {
    display: none;
  }

  .navbar-icon.selected {
    display: block;
  }
}

$storiesHeight: 0; //15%;
$buttonDim: 24px;

// Post
main > article {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 5% 0%;
  border: 2px solid black;
  padding: 1%;

  &:first-of-type {
    margin-top: $storiesHeight;
  }

  // User profile picture + user name + post date
  > header {
    margin-top: 1%;
    margin-bottom: 2%;

    // user image
    > img {
      width: 32px;
      border-radius: 100%;
      margin-right: 0.5%;
    }

    > div {
      display: inline-block;

      // user name
      > h1 {
        font-size: 100%;
        font-weight: normal;
        margin-bottom: 1px;
      }

      // date
      > p {
        font-size: 75%;
        color: gray;
        margin-top: 1px;
      }
    }
  }

  // Post content + media
  > main {
    margin-bottom: 1%;
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    justify-content: center;

    // content
    > p {
      font-size: 85%;
      text-align: justify;
      margin-bottom: 2%;
      overflow-wrap: break-word;
      word-break: break-word;
    }

    // media
    > img {
      max-width: 100%;
    }
  }

  > section {
    // View likes + View tags
    &:first-of-type {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      > a {
        display: inline;
        font-size: 85%;

        // View likes
        &:first-of-type {
          //color: blue;
        }

        // View tags
        &:nth-of-type(2) {
          //color: gray;
          //float: right;
        }
      }
    }

    // Like button + comment button
    &:nth-of-type(2) {
      display: flex;
      flex-flow: row;

      > button {
        max-width: 50%;
        //max-height: $buttonDim;
        border-radius: 8px;
        //padding: 2% calc(25% - $buttonDim / 2 - 1px);
        display: flex;
        flex-flow: row;
        flex-grow: 1;
        align-items: center;
        justify-content: center;

        > svg, div {
          padding: 12px;
          width: 24px;
          height: 24px;
        }

        > div {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1rem;
        }

        // like button
        &.like {
          border: 1px solid black;
          background-color: #1a73e8;
        }

        // comment button
        &.comment {
          background-color: #ECEAEA;
          border: 1px solid black;
        }
      }
    }
  }
}

article h1, article p {
  padding: 0;
  margin: 0;
}

// desktop media query
@import "home_desktop_mq";