@media screen and (min-width:768px) {
    main > article {
        /*margin-left: 15%;
        margin-right: 15%;*/
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 5% 15%;
        border: 2px solid black;
        padding: 1%;
    }
}