$storiesHeight: 15%;

main > article {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: $storiesHeight 15% 0 15%;
  border: 2px solid black;
  padding: 1%;

  > header {
    > img {
      height: 30px;
      border-radius: 100%;
    }

    > div {
      display: inline-block;
      //font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

      > h2 {
        font-size: 15px;
        font-weight: normal;
        margin-bottom: 1px;
      }

      > p {
        font-size: 12px;
        margin-top: 1px;
        color: gray;
      }
    }
  }

  > main {
    margin: 1% 0 1% 0;

    > p {
      font-size: 14px;
    }

    > img {
      display: block;
      margin: auto;
    }
  }

  > section {
    &:first-of-type {
      color: blue;
      display: inline-block;
    }

    &:nth-of-type(2) {
      color: gray;
      float: right;
    }

    img {
      width: 24px;
      height: 24px;
    }
  }
}

article h2 {
  padding: 0;
  margin: 0;
}

article p {
  padding: 0;
  margin: 0;
}