// navbar update
a.home {
  .navbar-icon {
    display: none;
  }

  .navbar-icon.selected {
    display: block;
  }
}

$storiesHeight: 0; //15%;
$buttonDim: 24px;

// base css
main > article {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 5% 0%;
  border: 2px solid black;
  padding: 1%;

  &:first-of-type {
    margin-top: $storiesHeight;
  }

  > header {
    margin-top: 1%;
    margin-bottom: 2%;

    > img {
      width: 32px;
      border-radius: 100%;
      margin-right: 0.5%;
    }

    > div {
      display: inline-block;

      > h1 {
        font-size: 100%;
        font-weight: normal;
        margin-bottom: 1px;
      }

      > p {
        font-size: 75%;
        color: gray;
        margin-top: 1px;
      }
    }
  }

  > main {
    margin-bottom: 1%;

    > p {
      font-size: 85%;
      text-align: justify;
      margin-bottom: 1%;
      overflow-wrap: break-word;
      word-break: break-word;
    }

    > img {
      max-width: 100%;
      display: block;
      margin: auto;
    }
  }

  > section {
    &:first-of-type {
      > p {
        display: inline;
        font-size: 85%;

        &:first-of-type {
          color: blue;
        }
        &:nth-of-type(2) {
          color: gray;
          float: right;
        }
      }
    }

    &:nth-of-type(2) {
      > img {
        max-width: 50%;
        max-height: $buttonDim;
        border-radius: 5%;
        padding: 2% calc(25% - $buttonDim/2 - 1px);

        &:first-of-type {
          background-color: #1a73e8;
        }

        &:nth-of-type(2) {
          background-color: #ECEAEA;
          float: right;
        }
      }
    }
  }
}

article h1, article p {
  padding: 0;
  margin: 0;
}

// desktop media query
@import "home_desktop_mq";