@use "login_signup_mobile";
@use "login_signup_desktop";
@import url("//fonts.cdnfonts.com/css/billabong");

$padding: 20px;
$button_color: #2b78e4;
$button_height: 45px;
$font_size: 1.15em;

body {
  background-color: #fafafa;
}

form {
  h1 {
    font-family: "billabong", sans-serif;
    align-self: center;
    font-size: 3em;
  }

  label {
    padding: 10px;
    pointer-events: none;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0.5;
    background: white;
  }

  input {
    padding: 10px;
  }

  input:focus + label, input:not(placeholder-shown) + label {
    opacity: 1;
    transform: scale(0.75) translateY(-70%) translateX(-14px);
  }
}


main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
  row-gap: 20px;
}

/*
form {
  background-color: white;
  width: 20%;
  padding: $padding;
  display: flex;
  flex-flow: column;
  border: 1px solid black;


  button {
    height: $button_height;
    background-color: $button_color;
    color: white;
    border: 1px solid $button_color;
    border-radius: 5px;
    font-size: $font_size;
  }
}

div {
  background-color: white;
  width: 20%;
  border: 1px solid black;
  padding: $padding;
}

 */
