@use "login_signup_mobile";
@use "login_signup_desktop";
@import url("//fonts.cdnfonts.com/css/billabong");

$padding: 20px;
$button_color: #2b78e4;
$button_height: 45px;
$font_size: 1.15em;

$element_width: 93%;

body {
  background-color: #fafafa;
}
main {
  form {
    h1 {
      font-family: "billabong", sans-serif;
      text-align: center;
      font-size: 3em;
    }

    .input-box {
      position: relative;
    }

    .input-box input {
      height: 28px;
      padding: 13px 15px;

      border: 1px solid #cccccc;
      background: transparent;
      border-radius: 4px;
    }

    .input-box label {
      color: gray;
      pointer-events: none;
      transition: 0.2s;
    }

    .input-box input:focus {
      outline: none;
      border: 2px solid #1a73e8;
    }

    .input-box button.show-password,
    .input-box button.hide-password {
      background-color: transparent;
      color: #1a73e8;
      border: none;
      position: absolute;
      //right: 2.5%;
      right: 2rem;
      top: 31%;
      cursor: pointer;
    }

    //button[type="submit"] {
    #submit-button {
      width: 100%;
      border: none;
      outline: none;
      color: white;
      background-color: #1a73e8;
      padding: 0.625rem 1.25rem;
      cursor: pointer;
      border-radius: 0.312rem;
    }

    #submit-button:disabled {
      background-color: #cccccc;
      cursor: default;
    }

    //button[type="submit"]:hover {
    #submit-button:hover:enabled {
      background-color: #287ae6;
      box-shadow: 0 1px 1px 0 rgba(66, 133, 244, 0.45), 0 1px 3px 1px rgba(66, 133, 244, 0.3);
    }
  }
}

/*
main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
  row-gap: 20px;
}
*/


/* Input and label become red when text inside input is not correctly formatted */
.error {
  color: #d93025;
}

/*
form {
  background-color: white;
  width: 20%;
  padding: $padding;
  display: flex;
  flex-flow: column;
  border: 1px solid black;


  button {
    height: $button_height;
    background-color: $button_color;
    color: white;
    border: 1px solid $button_color;
    border-radius: 5px;
    font-size: $font_size;
  }
}

div {
  background-color: white;
  width: 20%;
  border: 1px solid black;
  padding: $padding;
}

*/
