@media screen and (max-width: 600.99px) {
  $button_width: 350px;
  $button_height: 45px;

  body {
    background-color: white;
    margin: 0;
  }

  main {
  }

  form {
    align-self: center;
    width: 100%;  //???

    .input-box {
      //width: calc(100% - 112px);
      width: 100%;
      display: flex;

      input {
        flex-grow: 1;
      }
    }

    #submit-button {
      width: 100%;
      flex-grow: 1;
    }
  }

  div.container {
    //position: fixed;
    //bottom: 0;
    display: flex;
    align-items: center;
    flex-flow: row;
    white-space: nowrap;
  }
}


@media screen and (max-width: 600.99px) and (min-width: 450px) {
  main {
    padding-left: 40px;
    padding-right: 40px;
  }

  form {
    padding-top: 48px;
  }
}

@media screen and (max-width: 449.99px) {
  main {
    padding-left: 24px;
    padding-right: 24px;
  }

  form {
    padding-top: 24px;
  }
}
