@use "login_signup_mobile";
@use "login_signup_desktop";
@import url("//fonts.cdnfonts.com/css/billabong");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  font-family: "Roboto", "Arial", sans-serif;
}

main {
  display: flex;
  flex-flow: column;

  a {
    color: #1a73e8;
    text-decoration: none;  //or unset?
    font-weight: 500;
    -webkit-tap-highlight-color: transparent;
  }
}

form {
  display: flex;
  flex-flow: column;
  align-items: center;
  row-gap: 0.875rem;

  h1 {
    font-family: "billabong", sans-serif;
    text-align: center;
    font-size: 3em;
    color: #010101;
    //margin: 2rem 0;
    //margin: 0 0 2rem 0;
    margin: 0 0 calc(2rem - 0.875rem) 0;
    pointer-events: none;
  }

  .input-box {
    position: relative;

    input {
      /*padding:10px;*/
      border: 2px solid #dadce0; /* was 1px solid #dadce0 */
      text-align: left;
      border-radius: 4px;
      color: #202124;
      font: 1rem "Roboto", "Arial", sans-serif; /* 16px */
      height: 28px;
      margin: 1px 1px 0 1px;
      padding: 11px 15px;
      z-index: 1;
      flex-grow: 1;
      flex-shrink: 1;
      //background-color: transparent;
      background-color: white;
      display: block;
      line-height: 24px;
      min-width: 0%;
      outline: none;
      writing-mode: horizontal-tb !important;
      text-rendering: auto;
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      appearance: auto;
      cursor: text;
      white-space: normal;

      &:focus {
        border: 2px solid #1a73e8;
      }

      &:focus + label, &:not(:placeholder-shown) + label {
        transform: scale(0.75) translateY(-39px);
      }

      &:focus + label {
        color: #1a73e8;
      }

      &.error, &.invalid {
        border-color: #d93025;

        &:focus + label, &:not(:placeholder-shown) + label {
          color: #d93025;
        }
      }
    }

    label {
      background: white;
      border-radius: 4px;
      left: 8px;
      bottom: 17px;
      box-sizing: border-box;
      color: #5f6368;
      font: 400 1rem "Roboto", "Arial", sans-serif; /* 16px */
      max-width: calc(100% - (2 * 8px));
      overflow: hidden;
      padding: 0 8px;
      text-overflow: ellipsis;
      transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
      white-space: nowrap;
      width: auto;
      z-index: 1;
      transform-origin: bottom left;
      pointer-events: none;
      position: absolute;
    }

    button {
      &.show-password,
      &.hide-password {
        display: none;
        //font: 500 0.875rem "Roboto", "Arial", "sans-serif";
        font: 500 1rem "Roboto", "Arial", "sans-serif";
        background-color: transparent;
        color: #1a73e8;
        border: none;
        position: absolute;
        //right: 2.5%;
        //right: 2rem;
        right: 8px;
        //top: 31%;
        bottom: 17px;
        cursor: pointer;
        z-index: 1;
      }
    }
  }

  //button[type="submit"] {
  #submit-button {
    height: 36px;
    /*width: 79.172px;*/
    /*width: 336px;*/
    /*overflow: hidden;*/
    border-radius: 4px;
    --mdc-ripple-fg-size: 47px;
    --mdc-ripple-fg-scale: 2.06324;
    --mdc-ripple-fg-translate-start: 21.6719px, -10.4844px;
    --mdc-ripple-fg-translate-end: 16.0859px, -5.5px;
    background-color: #1a73e8;
    color: white;
    box-sizing: border-box;
    letter-spacing: .0107142857em;
    font: 500 0.875rem "Google Sans", "Roboto", "Arial", sans-serif;
    text-transform: none;
    transition: border 280ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: none;
    --mdc-ripple-left: 0;
    --mdc-ripple-top: 0;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    text-align: center;
    min-width: 64px;
    border: none;
    outline: none;
    -webkit-user-select: none;
    -webkit-appearance: none;
    overflow: visible;
    vertical-align: middle;
    cursor: pointer;
    position: relative;

    &:disabled {
      background-color: #dadce0;
      cursor: default;
    }

    &:enabled {
      &:hover {
        background-color: #1b66ca;
        transition: opacity 15ms linear, background-color 15ms linear;
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
      }

      &:focus {
        --mdc-ripple-fg-size: 47px;
        --mdc-ripple-fg-scale: 2.06324;
        --mdc-ripple-fg-translate-start: -13.3281px, 9.51563px;
        --mdc-ripple-fg-translate-end: 16.0859px, -5.5px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        //#202124
        will-change: transform, opacity;
        background-color: #1c5fba;
      }
    }
  }
}

div.warning {
  display: none;
}

div.invalid {
  display: flex;
  align-self: flex-start;
  align-items: center;
  color: #d93025;
  margin: -10px 0 0 1px;
  font-size: 12px;
  line-height: normal;

  span.invalid {
    margin-right: 8px;
    //margin-top: -2px;

    svg.invalid {
      display: block;
      box-sizing: border-box;
      fill: #d93025;
      width: 16px;
      height: 16px;
    }
  }
}

/* Input and label become red when text inside input is not correctly formatted */
.error {
  color: #d93025;
}
