@media screen and (min-width: 601px) {
  body {
    background-color: #fafafa;
  }

  main {
    align-items: center;
    row-gap: 2rem;
  }

  form {
    margin-top: 4rem;
    .input-box {
      input {
        width: 336px;
      }
    }

    #submit-button {
      width: 372px;
    }
  }

  .container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 372px;
    border: 1px solid #dadce0;
    border-radius: 8px;
    padding: 42px 40px;
    background-color: white;
  }

  div.container {
    padding: 1.875rem 40px;
    width: 372px;
    display: flex;
    flex-flow: row;
    white-space: nowrap;
  }
}
