@media screen and (max-width: 767.98px) {
  $icon_size: 24px;   //formerly 32px
  $logo_size: 36px;
  $nav_height: 61px;

  .labels {
    display: none;
  }

  .navigation {
    position: relative;
    z-index: 1;

    header {
      background-color: white;
      height: $nav_height;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
      display: flex;
      align-items: center;
      justify-content: space-between;
      //padding: 0 5% 0 2.5%;
      padding: 0 16px;
      box-sizing: border-box;

      .logo {
        //display: flex;
        //font-size: $logo_size;
        align-items: center;
        //line-height: $logo_size;
        //display: inline-block;
      }

      .messages {
        //margin-left: auto;
        //display: inline-block;
        //z-index: 3;
      }
    }

    nav {
      background-color: white;
      height: 49px;
      position: fixed;
      width: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.0975);
      display: flex;
      align-items: center;
      //padding: 0 5%;
      justify-content: space-evenly;
      box-sizing: border-box;

      div.notification-number {
        top: 2px;
        right: 1px;
      }
    }
  }

  body > main {
    //display: flex;
    margin: 61px 8px 49px 8px;
    justify-content: center;
  }
}
