@use "navbar_mobile";
@use "navbar_desktop";
@import url("https://fonts.googleapis.com/css?family=Sofia");
@import url("//fonts.cdnfonts.com/css/billabong");

body {
  background-color: #fafafa;
  font-family: "Arial", sans-serif;
}

.logo {
  //font-family: "Sofia", sans-serif; /* consider using Billabong instead */
  font-family: "billabong", sans-serif;
  font-weight: bold;
  font-size: 31px;
  line-height: 31px;
}

/* Remove underline from a link */
.no-underline {
  color: black;
  text-decoration: unset;
  /*text-decoration: none;*/
  -webkit-tap-highlight-color: transparent;
}

.navbar-icon.selected {
  display: none;
}

.navbar-icon {
  width: 24px;
  height: 24px;
}

.navigation {
  a:not(.logo) {
    height: 24px;
    padding: 12px;
  }

  .profile {
    img.selected {
      border: 2px solid rgb(38, 38, 38);
      border-radius: 50%;
      margin: -2px;
    }
  }
}
