@media screen and (min-width: 768px) {
  $icon_size: 32px;
  $logo_size: 36px;
  $nav_width: 240px;

  .navbar-icon {
    width: 24px;
    height: 24px;
  }

  .navbar-icon.selected {
    display: none;
  }

  body > header, body > nav {
    display: contents;
  }

  body > main {
    display: flex;
    margin-left: $nav_width;
    align-items: flex-start;
    justify-content: center;
  }

  .navigation {
    background-color: white;
    width: $nav_width;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.0975);
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    //padding-left: 20px;
    padding: 8px 12px 20px 12px;
    row-gap: 10px;

    a {
      display: flex;
      align-items: center;
      img {
        display: inline-block;
      }
      span {
        display: inline-block;
        //margin-left: 10px;
        padding-left: 16px;
        font-size: 16px;  //1rem
      }
    }

    .logo {
      order: 1;
      font-size: $logo-size;
      line-height: $logo-size;
      //margin: 30px 0;
      margin-bottom: 19px;
      padding: 25px 12px 16px 12px;
    }

    .home {
      order: 2;
    }

    .search {
      order: 3;
    }

    .messages {
      order: 4;
    }

    .notifications {
      order: 5;
    }

    .create {
      order: 6;
    }

    .profile {
      order: 7;
      img.selected {
        border: 2px solid rgb(38, 38, 38);
        border-radius: 50%;
        padding: 0;
      }
    }
  }
}
