@media screen and (max-width: 768.99px) {
  .navbar-icon {
    width: 36px;
    display: inline-block;
  }

  .logo {
    font-family: "Sofia", sans-serif; /* consider using Billabong instead */
    font-size: 48px;
    display: inline-block;
    font-weight: bold;
  }

  header {
    background-color: white;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    box-sizing: border-box;
    z-index: 2;
    /* animation magic */
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
  }

  .navigation-search-container {
    display: none;
  }

  .shrink {
    /*height: 50px;*/
  }

  nav {
    background-color: white;
    height: 80px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.0975);
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*padding: 0px 50px;*/
    box-sizing: border-box;
  }

  main {
    display: flex;
    margin: 80px 0;
  }

  #messages {
    display: -webkit-box;
    margin-left: auto;
  }
}
