@media screen and (min-width: 769px) {
  $icon_size: 32px;
  $logo_size: 36px;
  $nav_width: 240px;

  .navbar-icon {
    width: $icon_size;
  }

  .navigation {
    width: $nav_width;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.0975);
    display: flex;
    align-items: flex-start;
    //justify-content: space-between;
    flex-flow: column wrap;
    padding-left: 20px;
    //row-gap: 15px;

    a {
      display: flex;
      align-items: center;
      img {
        display: inline-block;
      }
      span {
        display: inline-block;
        margin-left: 10px;
      }
    }

    .logo {
      order: 1;
      font-size: $logo-size;
      line-height: $logo-size;
      margin-top: 30px;
    }

    .home {
      order: 2;
      margin-top: 110px;
    }

    .search {
      order: 3;
      margin-top: 10px;
    }

    .messages {
      order: 4;
      margin-top: 150px;
    }

    .notifications {
      order: 5;
      margin-top: 70px;
    }

    .create {
      order: 6;
      margin-top: 10px;
    }

    .profile {
      order: 7;
      margin-top: 10px;
    }

    .logo, .home, .search, .messages, .notifications, .create, .profile {
      align-self: flex-start;
      flex-basis: 50px;
    }
  }

  main {
    display: flex;
    margin-left: $nav_width;
    align-items: flex-start;
    justify-content: center;
  }

  header, nav {
    z-index: 10;
  }
}
