@media screen and (min-width: 769px) {
  .navbar-icon {
    width: 36px;
    display: flex;
  }

  .navigation {
    background-color: white;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
    box-sizing: border-box;
    z-index: 2;
    /* animation magic */
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
  }

  .shrink {
    height: 50px;
  }

  .logo {
    position: relative;
    color: black;
    font-size: 30px;
    font-family: "billabong", sans-serif;
    text-decoration: none;
  }

  .navigation-search-container {
    position: relative;
  }

  .navigation-search-container input {
    background-color: #fafafa;
    padding: 3px 20px 3px 25px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.0975);
    border-radius: 3px;
    font-size: 14px;
  }

  .navigation-search-container .fa-search {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.5);
  }

  .navigation-search-container input:focus {
    outline: none;
  }

  .navigation-search-container input::placeholder {
    text-align: center;
  }
}
