@media screen and (min-width:768px) {

    // Notifications title
    main > h1 {
        display: block;
        font-size: 150%;
        text-align: center;
        padding: 0;
        margin: 2% 0;
    }

    // Notifications box
    main > section {
        border: 2px solid black;
        margin: 0 15%;
    }
}