a.notifications {
  .navbar-icon {
    display: none;
  }

  .navbar-icon.selected {
    display: block;
  }
}

main {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  // Notifications title
  > h1 {
    font-size: 150%;
    text-align: center;
    padding: 0;
    margin: 2% 0;
  }

  // Notifications box
  > section {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    // Notification
    > a {
      //height: 50px;
      height: 44px;
      padding: 8px 16px;
      display: flex;
      align-items: center;
      //margin: 0 1%;

      // Sender username + notification content
      > p {
        font-size: 14px;
        line-height: 18px;
        width: 100%;

        // sender username
        > strong {
          font-weight: bold;
        }
      }

      > img {
        height: 100%;

        // Sender profile picture
        &:first-of-type {
          border-radius: 100%;
          //margin-right: 1%;
          margin-right: 14px;
        }

        // Post
        &:nth-of-type(2) {
          margin-left: 12px;
          height: 100%;
        }
      }

      > button {
        font-size: 14px;
        font-weight: bold;  //500 for Roboto
        line-height: 18px;
        padding: 7px 16px;
        border-radius: 8px;
        margin-left: 12px;
        margin-right: 0;
        //height: 24px;
        //width: 100px;

        // Follow button
        &.follow {
          background-color: #1a73e8;
          border: 1px solid #1a73e8;
          color: white;
        }

        // Following button
        &.following {
          background-color: white;
          border: 1px solid black;
          color: black;
        }
      }
    }
  }
}

// desktop media query
@import "notifications_desktop_mq";