// Navbar update
a.notifications {
  .navbar-icon {
    display: none;
  }

  .navbar-icon.selected {
    display: block;
  }
}

// Notifications page
main {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  // no title
  > h1 {
    display: none;
  }

  // Notifications box
  > section {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    // Notification
    > a {
      height: 44px;
      padding: 8px 16px;
      display: flex;
      align-items: center;

      // Sender username + notification content
      > p {
        font-size: 0.875rem;    //14px
        line-height: 1.125rem;  //18px
        width: 100%;

        // sender username
        > strong {
          font-weight: bold;
        }
      }

      > img {
        height: 100%;

        // Sender profile picture
        &:first-of-type {
          border-radius: 100%;
          //margin-right: 2%;
          margin-right: 14px;
        }

        // Post
        &:nth-of-type(2) {
          height: 100%;
          //max-width: 80%;
          //max-height: 80%;
          //margin-left: auto;
        }
      }

      > button {
        //font-size: 90%;
        //font-size: 14px;
        font-size: 0.875rem;    //14px
        font-weight: bold;      //500 for Roboto
        line-height: 1.125rem;  //18px
        padding: 7px 16px;
        //padding: 1% 2%;
        border-radius: 8px;
        margin-left: 12px;
        //margin-left: 1%;

        // Follow button
        &.follow {
          background-color: #1a73e8;
          border: 1px solid #1a73e8;
          color: white;
        }

        // Following button
        &.following {
          background-color: white;
          border: 1px solid black;
          color: black;
        }
      }
    }
  }
}

// Desktop media query
@import "notifications_desktop_mq";