@media screen and (min-width:768px) {
  
  // show logo and messages
  .navigation header {
    display: contents;
  }

  // Profile page
  main {

    > div, > article {
      margin-left: 15%;
      margin-right: 15%;
    }

    > div {
      display: flex;
      flex-direction: column;
      margin-top: 2%;
      padding: 0;

      // Username
      > div.top-bar {
        display: block;
        text-align: center;
        background-color: unset;
        height: unset;
        position: unset;
        width: unset;
        border-bottom: unset;
        padding: 0;

        > h1 {
          display: inline-block;
          margin-left: 12%;
        }

        > button {
          margin-left: unset;
          float: right;
        }
      }

      // User info
      > header {

        > div.stats {
          justify-content: space-between;

          // Profile picture
          > img.profile-pic {
            width: 100px;
            height: 100px;
          }

          > div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            text-align: center;
  
            > div.num-posts {
              margin-right: 5%;
            }
  
            > a.num-followers {
              margin-right: 2%;
            }
          }
        }

        > div.info {
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: space-between;

          // "Edit profile" button
          > a {
            width: fit-content;
            margin-right: 1%;

            > button {
              width: fit-content;
              white-space: nowrap;
              padding: 5%;
              margin: 0;
            }
          }
        }
      }
    }
  }
}