// Navbar update
a.search {
  .navbar-icon {
    display: none;
  }

  .navbar-icon.selected {
    display: block;
  }
}

// hide top bar with logo and messages
.navigation header {
  display: none;
}

// Search page
main {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;

  // Top bar
  > header {
    background-color: white;
    height: 61px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    // no label
    > label {
      display: none;
    }

    // Search field
    > input {
      width: 90%;
      font-size: 115%;
      border-radius: 12px;
      border: 1.5px solid black;
    }
  }
}

// Desktop media query
@import "search_desktop_mq";