@media screen and (min-width:768px) {
    // show logo and messages
    .navigation header {
        display: contents;
    }

    // Search page
    main {

        // Search label and field
        > form {
            background-color: transparent;
            height: unset;
            position: revert;
            width: 100%;
            top: unset;
            left: unset;
            right: unset;
            border-bottom: none;
            display: block;

            // Search label
            > label {
                display: block;
                font-size: 150%;
                font-weight: bold;
                margin-top: 2%;
                margin-bottom: 3%;
            }

            // Search field
            > input[type=search] {
                width: 30%;
            }
        }

        // User results box
        > section {
            border: 2px solid black;
            margin: 4% 15% 0 15%;
        }

        // "No results found" message
        > p {
            margin-top: 2%;
        }
    }
}