// using profile page css
@import "profile";

a.profile {
  .navbar-icon {
    display: block;
  }

  .navbar-icon.selected {
    display: none;
  }
}

// to center the button
body > main div.info {
  text-align: center;
}

// Follow/following button
body > main button {
  width: 100%;
  margin-top: 3%;

  // Follow button
  &.follow {
    background-color: #1a73e8;
    border: 1px solid #1a73e8;
    color: white;
  }

  // Following button
  &.following {
    background-color: white;
    border: 1px solid black;
    color: black;
  }
}

// desktop media query
@import "user_profile_desktop_mq";
