<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>
<body>
    <header>
        <h1>Pyrogram</h1>
        <input id="#messages" type="image" src="messages.png" alt="Messages">  <!-- Andrà modificato poi -->
    </header>
    <main>
    </main>
    <aside>
        <nav>
            <ul>
                <li><a href="home.html"><img src="home.png" alt="Home"/></a></li>
                <li><a href="search.html"><img src="search.png" alt="Search"/></a></li>
                <li><a href="create.html"><img src="create.png" alt="Create"/></a></li>
                <li><a href="notifications.html"><img src="notifications.png" alt="Notifications"/></a></li>
                <li><a href="profile.html"><img src="profile.png" alt="Profile"/></a></li>
                
                <!--
                <li><input type="image" src="home.png" alt="Home"></li>
                <li><input type="image" src="search.png" alt="Search"></li>
                <li><input type="image" src="create.png" alt="Create"></li>
                <li><input type="image" src="notifications.png" alt="Notifications"></li>
                <li><input type="image" src="profile.png" alt="Profile"></li>

                <li></li><a href="home.html">Home</a></li>
                <li><a href="search.html">Search</a></li>
                <li><a href="create.html">Create</a></li>
                <li><a href="notifications.html">Notifications</a></li>
                <li><a href="profile.html">Profile</a></li>
                -->
            </ul>
        </nav>
    </aside>
</body>
</html>