<nav>
    <ul>
        <li><input type="image" src="home.png" alt="Home"></li>
        <li><input type="image" src="search.png" alt="Search"></li>
        <li><input type="image" src="create.png" alt="Create"></li>
        <li><input type="image" src="notifications.png" alt="Notifications"></li>
        <li><input type="image" src="profile.png" alt="Profile"></li>

        <!--
        <li></li><a href="home.html">Home</a></li>
        <li><a href="search.html">Search</a></li>
        <li><a href="create.html">Create</a></li>
        <li><a href="notifications.html">Notifications</a></li>
        <li><a href="profile.html">Profile</a></li>
        -->
    </ul>
</nav>